body {
	background-color: #d1c08c;
}
.mytable {
  width:1400px;
  height:700px;
  margin-top:151px;
  margin-left:245px;
  margin-right:245px;
  border-collapse: collapse;
  border: 3px solid black;
  
}
h1 {
	text-align:center;
	}
td {
            border: 3px solid #000000;
            text-align: center;
            padding: 8px;
        }
td {
	vertical-align: top;
}
tr.top-row {
            vertical-align: top;
			height: 100px;
        }
tr.middle-row {
			height: 500px;
        }
tr.middle-row td {
    vertical-align: top;
  }
tr.bottom-row {
            vertical-align: bottom;
			height: 100px;
        }
.middle-row {
  position: relative;
}

.slideshow-container {
  width: 500px;
  height: 333px;
  position: absolute;
  bottom: 2%;
  right: 2%;
  margin: auto;
}
.video {
	max-width: 500px;
	max-height: 333px;
	left: 2%;
	bottom: 2%;
	position: absolute;
}
.mySlides {
  display: visible;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
	left: 0;
	border-radius: 3px 0 0 ;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
        display: block;
        color: black;
        text-align: center;
        padding: 54px 87px;
        text-decoration: none;
    }

li a:hover {
            background-color: white;
      }
gmp-map {
    height: 666px;
    width: 1000px;
    position: relative;
    left: 13%;
}